@{
    ViewData["Title"] = "Home Page";
}
 <h1> @ViewBag.Message=Output</h1>

<form asp-action="Index">
    <input type="text" name="UserName">
    <input type="text" name="PassWord">
    <input type="submit"name="Gửi">
</form>